* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* multi style */

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
 .btn{
    border: none;
    font-weight: 600;
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px;
    cursor: pointer;
 }

/* spaical style */
header {
    background-color: #ffffff;
    padding-top: 16px;
}

nav {
    width: 80%;
    max-width: 1360px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .manu{
    list-style: none;
    display: flex;
    gap: 32px; 
    
}

 nav .manu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
 /* banner section  */
#banner{
    background-image: url("../assets/hero-bg.png");
    /* height: 771px; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 120px 134px 120px;
    
}

 #banner .content{
    text-align: center;
    
 }

 #banner .content .heading .main-head{
    font-weight: 72px;
    /* line-height: 84px; */
    align-items: top;
    column-gap: 16px;
    color: #FFFFFF;
    margin: 16px 0px;
 }

 #banner .content .heading .second-head{
    color: #30B868;
 }
 #banner .content .heading p{
 color: #FFFFFF;
 line-height: 24px;
 margin-bottom: 32px;
 max-width: 700px;
 }



 #banner .content .heading{
    line-height: 50px;
    font-weight: bold;
 }

#banner  .content .btn-esrly-acc{
    padding: 12PX 8PX;
    gap: 6PX;
    align-items: center;
    border-radius: 1000px;
    background-color: #FFFFFF;
    color: #30B868;
    cursor: pointer;
}

#banner .content .buttons{
    gap: 16px;
}
#banner .content .buttons .btn-2{
    padding: 16px 12px;
    border-radius: 4px;
    border: 2px solid #FFFFFF;
    background-color: #ffffff00;
    color: #FFFFFF;
}
#banner .content .buttons .btn-3{
    border: none;
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
    padding:16px 12px;
    cursor: pointer;
}
#banner .content .buttons .btn-3 img{
    justify-content: center;
    gap: 10px;
}
/* #banner .content .buttons .btn-2 img{
    width: 20px;
    gap: 10px;
    color: #FFFFFF;
} */
    

/* #banner  .content .btn-esrly-acc img{
    width: 16px;
    gap: 6px;
    justify-content: center;
} */


/* card section  */

#card-section .card-container .card-heading h1{
color: #001931;
font-weight: bold;
margin: auto;
text-align: top left;
line-height: 100px;
}
#card-section .card-container .card-heading p{
color: #627382;
}

#card-section{
    margin: 0PX 120PX 120PX 120PX;
    text-transform: capitalize;
}

#card-section .card-container{
    padding-top: 0px;
    text-align: center;
}

.card-container .card{
    width: 80%;
    max-width: 1360px;
}

.card-box{
    display: flex;
    gap: 24px;
    width: 80%;
    max-width: 1360px;
    margin: 0 auto;
    
}
.card-box .card{
/* border: 1px solid; */
border-radius: 8px;
padding: 24px;
text-align: center;
/* height: 322px; */
/* width: 300px; */
background-color: #ffffff;
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 6%);
border: none;
}

.card-box .card h3{
padding:16px;
font-weight: 600;
color: #001931;
}
.card-box .card p{
    line-height: 20px;
    color: #627382;
}
.card-box .card img{
    background-color: #F95555;
    color: #FFFFFF;
    width: 60px;
    border: none;
    border-radius: 60px;
    padding: 16.59px 15.54px 16.4px 15.46px;
}

/* skill banner */
#brain{
margin: 120px;
background-color: #FFFFFF;
}

#brain .brain-section{
    display: flex;
    gap: 60px;
    justify-content: space-between;
    width: 80%;
    max-width: 1360px;
}
#brain .brain-section .skill{
    margin: 102px 0px 102px 0px;
    gap: 16px;
}
#brain .brain-section .skill h4{
    font-weight: 500;
    line-height: 20PX;
    text-align: left top;
    color: #469165;
    margin-bottom: 16px;
}
#brain .brain-section .skill h1{
    line-height:auto;
    font-weight: bold;
    text-align: left top;
    color: #001931;
    margin-bottom: 16px;
}
#brain .brain-section .skill p{
    margin-bottom: 40px;
    line-height: 20px;
    color: #627382;
}
#brain .brain-section .skill ul li{
    color: #001931;
    gap: 16px;
    margin-bottom: 16px;
    list-style-image: url("../assets/CheckCircle.png");
    list-style-position: inside;

}
#brain .brain-section .skill li{
    vertical-align: middle;
}